<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040820731303-ehuf9hm74clb5mr5g1bv95pljovpjb7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040820731303-ehuf9hm74clb5mr5g1bv95pljovpjb7d</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ7m37gLJzrojBX9JVfaWu4_11j4DlqA4</string>
	<key>GCM_SENDER_ID</key>
	<string>1040820731303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ahmadiyyaghRegistration</string>
	<key>PROJECT_ID</key>
	<string>ahmadiyya-census</string>
	<key>STORAGE_BUCKET</key>
	<string>ahmadiyya-census.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040820731303:ios:269c249c68c325f2df0a82</string>
</dict>
</plist>